{% extends 'base.html' %}


{% block title %}
  Details of {{ flight.flight_id }} | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="container-fluid w-50">
    <div class="row">
      <div class="col">Departure time:</div>
      <div class="col">{{ flight.departure_time }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Flight id:</div>
      <div class="col">{{ flight.flight_id }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Country:</div>
      <div class="col">{{ flight.country }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">City:</div>
      <div class="col">{{ flight.city }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Arrival time:</div>
      <div class="col">{{ flight.arrival_time }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Company:</div>
      <div class="col">{{ flight.company }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Plane type:</div>
      <div class="col">{{ flight.plane_name }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Status:</div>
      <div class="col">{{ flight.status }}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Free seats:</div>
      <div class="col">{{ free_seats }} / {{ seats }}</div>
    </div>

    <hr>
    <div class="row mx-auto">
      <div class="col">
        <a href="{{ flight.get_create_ticket_url }}" class="btn btn-outline-info {% if free_seats == 0 %} disabled {% endif %} {% if not user.is_authenticated %} disabled {% endif %} ">
          Book a ticket
        </a>
      </div>
    </div>
    <div class="row mt-2">
      {% if not user.is_authenticated %}
        <div class="col">
          <a href="#">Login</a> or
          <a href="#">Register</a>
          to book a ticket.
        </div>
      {% endif %}
    </div>
{% endblock %}
