{% extends 'base.html' %}


{% block title %}
  My tickets | {{ block.super }}
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="container w-75 mx-auto">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-departures-tab" data-toggle="pill" href="#pills-departures" role="tab" aria-controls="pills-departures" aria-selected="true">Departures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-arrivals-tab" data-toggle="pill" href="#pills-arrivals" role="tab" aria-controls="pills-arrivals" aria-selected="false">Arrivals</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-departures" role="tabpanel" aria-labelledby="pills-departures-tab">
          <table class="table">
            <thead>
              <th scope="col" class="text-center">Flight</th>
              <th scope="col" class="text-center">Delete</th>
            </thead>
            <tbody>
              {% for ticket in departures %}
              <tr>
                <td class="text-center"><a href="{{ ticket.flight.get_absolute_url }}">{{ ticket.flight.flight_id }}</a></td>
                <td class="text-center"><a href="{{ ticket.flight.get_delete_ticket_url }}" class="btn btn-outline-danger">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="pills-arrivals" role="tabpanel" aria-labelledby="pills-arrivals-tab">
          <table class="table">
            <thead>
              <th scope="col" class="text-center">Flight</th>
              <th scope="col" class="text-center">Delete</th>
            </thead>
            <tbody>
              {% for ticket in arrivals %}
              <tr>
                <td class="text-center"><a href="{{ ticket.flight.get_absolute_url }}">{{ ticket.flight.flight_id }}</a></td>
                <td class="text-center"><a href="{{ ticket.flight.get_delete_ticket_url }}" class="btn btn-outline-danger">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% else %}
    <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Register</a> to book a ticket.</p>
  {% endif %}
{% endblock %}
